<% include partials/header %>


<img class="home" src="http://blog.symphonicdistribution.com/wp-content/uploads/2014/09/boss-fight-free-high-quality-stock-images-photos-photography-concert-singing-crowd.jpg">

<div class="container home-content">
  <div class="row">
    <div class="col-md-6 col-md-push-3 text-center">
      <h2 id="home-greeting">Song Reviews!</h2>
      <a id="view-songs" class="btn btn-lg btn-primary" href="/songreview/songs">View all the songs</a>
    </div><!--closes col-->
  </div><!--closes row-->
</div><!-- closes container for home-content -->


<!-- including script tag here but will move to js folder or react app if more functionality needed -->
<script> </script>
<% include partials/footer %>
