<h1>Sign up</h1>

<form action="/songreview/register" method="POST">
  <input type="text" name="username" placeholder="username">
  <input type="text" name="password" placeholder="password">
  <button>Sign me up</button>
</form>

<!-- <form action="/songreview/songs" method="POST">
  <input class="form-control" type="text" name="name" placeholder="name" >
  <input class="form-control" type="text" name="author" placeholder="author">
  <input class="form-control" type="text" name="image" placeholder="image">
  <input class="form-control" type="text" name="description" placeholder="description">
  <button class="btn btn-primary btn-block btn-lg">Submit</button>
</form> -->
