<% include ./partials/header %>

<div class="container">
  <div class="row">
    <div class="text-center">
      <h1>Register</h1>
        <form action="/songreview/register" method="POST">
          <fieldset class="form-group">
            <div class="col-sm-4 col-sm-push-4">
              <input class="form-control" type="text" name="username" placeholder="username">
            </div><!--closes col-->
          </fieldset>
          <fieldset class="form-group">
            <div class="col-sm-4 col-sm-push-4">
              <input class="form-control" type="text" name="password" placeholder="password">
              </div><!--closes col-->
          </fieldset>
          <fieldset class="form-group">
            <div class="col-sm-4 col-sm-push-4">
              <button class="btn btn-primary form-control">Sign me up!</button>
            </div><!--closes col-->
          </fieldset>
        </form>
    </div><!--closes text-center-->
  </div><!--closes row-->
</div><!--closes container-->


<% include ./partials/footer %>
