<% include ../partials/header %>

<div class="container">
  <div class="row">
    <h1 style="text-align:center;">Edit Comment </h1>
    <div style="width:40%; margin:30px auto;">
      <form action="/songreview/songs/<%= song_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
        <input class="form-control" type="text" name="comment[text]" value="<%= comment.text %>" >
        <button class="btn btn-primary btn-block btn-lg authpost">Submit</button>
      </form>
      <a href="/songreview/songs"> Back to Songlist </a>
    </div><!-- closes text align center div-->
  </div><!--closes row-->
</div>

<% include ../partials/footer %>
